img.normal {
    float:left;
    height:200px;
    width:200px;
}
img.alta{
    float:left;
    height:320px;
    width:250px;
}
h1{
    border-bottom-style: inset;
}
pre{
    font-size: 1.2em;
}

#pre2{
    font-size: 1.2em;
}
